.gfd{
    background-color: #67C3F3;
}
.sdg{
    list-style: none;
    color: #fff;
}
.list {
    margin-top: 10% !important;
    
}
.ada{
    color: #fff;  
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .ede{
        display: flex;
    }
}
