@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

* {
    font-family: "Mulish", sans-serif;
}
.health h2{ 
    font-weight: 700;
}

.health p {
    font-weight: 300;
    color: #7D7987;
}
.hero-btn{
    outline: none;
    box-shadow: none;
    border: 0;
    background-color: #458FF6;
    color: #fff;
    padding: 15px 35px;
    border-radius: 55px;
}

.health-img img{
    width: 100%;
}

.health{
    margin: 17% auto;
}

